.share-cart-button {
    margin: 10px 0;
}

.share-cart-button a {
    display: inline-block;
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
}

.share-cart-button a:hover {
    text-decoration: underline;
}
